<footer class="page-footer text-center font-small mt-4 wow fadeIn" style="background:rgba(0, 0, 0, 0.9)">

  <hr class="my-4">

  <!-- Social icons -->
  <div class="pb-4">

    <a href="https://twitter.com/samueldevguy" target="_blank">
      <i class="fab fa-twitter mr-5" style="font-size:25px; color:red"></i>
    </a>

    <a href="https://github.com/samuel-oyewole/" target="_blank">
      <i class="fab fa-github mr-5"style="font-size:25px; color:red"></i>
    </a>

    <a href="https://www.linkedin.com/in/samuel-oyewole-dev/" target="_blank">
      <i class="fab fa-linkedin mr-5"style="font-size:25px; color:red" ></i>
    </a>
  </div>
  <!-- Social icons -->
  <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2021Copyright:
      <a href="" target="_blank">seun</a>
    </div>

</footer>